<html ng-app="itemApp">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <body ng-controller="itemController">
    <h2>Item Collection</h2>
    Add New Item:
    <input type="text" ng-model="newItem" />
    <button ng-click="addItem()">Add Item</button>
    <ul>
      <li ng-repeat="item in items track by $index">
        {{ item }}
        <button ng-click="removeItem($index)">Remove</button>
      </li>
    </ul>
    <p>Total Items: {{ items.length }}</p>
    <p>Deleted Items:</p>
    <ul>
      <li ng-repeat="deletedItem in deletedItems track by $index">
        {{ deletedItem }}
      </li>
    </ul>
    <script>
      var app = angular.module("itemApp", []);
      app.controller("itemController", function ($scope) {
        $scope.items = ["Item 1", "Item 2", "Item 3"]; // Default items
        $scope.deletedItems = []; // Array to store deleted items
        $scope.newItem = "";
        $scope.addItem = function () {
          if ($scope.newItem) {
            $scope.items.push($scope.newItem);
            $scope.newItem = ""; // Clear the input field
          }
        };
        $scope.removeItem = function (index) {
          $scope.deletedItems.push($scope.items[index]); // Add deleted item to the deletedItems array
          $scope.items.splice(index, 1);
        };
      });
    </script>
  </body>
</html>
